.container {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 1 100%;
  width: auto;
  display: flex;
}

.square {
  height: auto;
  border: solid 1px black;
  flex: 1 1 100%;
}

.hovered {
  background-color: black;
}