.container {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 1 100px;
  display: flex;
}

.square {
  height: auto;
  border: solid 1px black;
  flex: 1 1 100px;
}

.hovered {
  background-color: black;
}